.partnership__text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	max-width: 920px;
	margin: 0 0 42px 0;
}