.numbers__item__number {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 100px;
	line-height: 140px;
	margin: 0;
	padding: 0;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #BDA976;
}