.content__button {
	background-color: #E7AB38;
	border: none;
	padding: 10px 68px;
	border-radius: 10px;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	color: #050706;
}