@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/first-screen/first-screen.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__inner/header__inner.css);
@import url(../blocks/header/__language/header__language.css);
@import url(../blocks/header/__language/__button/header__language__button.css);
@import url(../blocks/header/__language/__button/_active/header__language__button_active.css);
@import url(../blocks/header/__mail/header__mail.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu/__list/header__menu__list.css);
@import url(../blocks/header/__menu/__item/header__menu__item.css);

@import url(../blocks/content/content.css);
@import url(../blocks/content/__heading/content__heading.css);
@import url(../blocks/content/__button/content__button.css);

@import url(../blocks/bullets/bullets.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__text/card__text.css);

@import url(../blocks/about/about.css);
@import url(../blocks/about/__info/about__info.css);
@import url(../blocks/about/__info/__heading/about__info__heading.css);
@import url(../blocks/about/__info/__paragraph/about__info__paragraph.css);

@import url(../blocks/numbers/numbers.css);
@import url(../blocks/numbers/__item/numbers__item.css);
@import url(../blocks/numbers/__item/__name/numbers__item__name.css);
@import url(../blocks/numbers/__item/__number/numbers__item__number.css);