.footer {
	background-image: url(../../images/bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
}